.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
   	margin: 25px auto;
}
.profile-pic {
	display: block;
	margin: 0 auto;
/*	margin-left: -25%; //centers the image
*/	height: 100%;
	width: auto;
}
.Profile{
	position: absolute;
	right: 1rem;
	width: 25rem;
	height: 20rem;
	/* width: 200px; */
}
